body {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif
}
main {
    max-width: 800px;
    margin:0 auto;
    padding:0 100px;
}
header, footer {
    background-color:rgb(255, 136, 0);
    color: white;
    padding: 8px;
    border-radius: 15px;
    align-items: center;

}
h1 {
    font-size: 32px;
    padding-left: 95px;
}

h2 {
    border-bottom: 1px solid black;
}
.profile {
    float: right;
    box-shadow: 0 0 17px black;
    max-width: 138px;
}

