@media only screen and (min-width: 880px) {
    main{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 12px;
        align-items: center;
        margin: 2em 10em;
    }

    main, header, footer{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #White, #Rule, #Contrast{
        grid-row: 1/end;
    }

    #Contrast{
        grid-column: 3/end;
        align-self: stretch;
    }
}