@media only screen and (min-width: 830px) {
	header{
        font-size: 1rem;
		grid-template-columns: 1fr 2fr 1fr;
    }

	nav {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.social {
		grid-column: 4/5;
	}

	.logo {
        width: 100px;
    }

	main {
		grid: repeat(3, 1fr) / 1fr 2fr 1fr;
		margin: .5em auto;
		max-width: 800px;
	}

	.event {
		grid-row: 1/2;
		grid-column: 1/2;
		text-align: center;
	}
	.event h2{
		color:rgb(202, 106, 45);
		background-color:  rgb(235, 209, 95);
		grid-row: 1/end;
	}
	.weather {
		grid-row: 2/3;
		grid-column: 1/2;
	}
	.weather h2{
		color:rgb(202, 106, 45);
		background-color: rgb(235, 209, 95);
		text-align: center;
	}

	.join {
		grid-row: 3/4;
		grid-column: 1/2;
		
	}

	.hero {
		grid-row: 1/3;
		grid-column: 2/3;
	}

	.hero h2 {
		padding: .5em;
		font-size: 2em;
	}

	.hero button {
		margin-bottom: 1em;
		margin-right: 1em;
	}
	#banner{
		text-align: center;
	}
	.relace {
		grid-row: 3/4;
		grid-column: 2/3;

	}
	.relace h2{
		color:rgb(202, 106, 45);
		background-color: rgb(235, 209, 95);
	}
	.spotlight {
		grid-row: 1/4;
		grid-column: 3/4;
		grid: repeat(3, 1fr) / 1fr;
		grid-column-gap: 10px;
	}

	#spotlight3 {
		display: initial;
	}

    .navig {
		display: flex;
		position: relative;
	}

	.navig li {
		display: block;
		flex: 1 1 auto;
	}

	.navig a {
		text-align: center;
        border: none;
	}

    .menu {
        display: none;
    }
/* CSS for DISCOVER */
	.mainDiscover {
		display: grid;
		grid-template-rows: minmax(min-content, max-content);
		grid-template-columns: minmax(min-content, max-content);
		max-width: 400px;
	}
   
	.mainDiscover img[data-src] {
	   filter: blur(0.2em);
	   
	 }
	.mainDiscover img {
		filter: blur(1px) grayscale(75%);
	   transition: filter 0.5s;
	   padding: 0.5px;
	 }
	 .card{
		 background-color: rgb(202, 106, 45);
		 padding: 10px 20px;
		 color: white;
		 text-align: center;
	 }
	 .card h3{
		 color:rgb(235, 209, 95) ;
	 }

	 .mainDiscover p{
		 text-align: justify;
		 margin-top: auto;
		 padding: 0 0;
	 }
	/* CSS JOIN */
	.mainJoin, h2 {
		display: grid;
		grid-template-rows: minmax(min-content, max-content);
		grid-template-columns: minmax(min-content, max-content);
		max-width: 400px;
		color:rgb(202, 106, 45);
	}
	.mainJoin p {
		padding: 0px;
	}
	fieldset{
		background: white; 
		color: rgb(202, 106, 45);
		border: 2px  solid rgb(202, 106, 45);
		border-radius: 10px;
		text-align: justify;
		padding: 10px;
		margin: 10px;
	}
	legend{
		background: rgb(235, 209, 95);
		color: white;
		border: 1px solid rgb(209, 178, 40);
		font-size: 1rem;
	}
	.top, label, form{
		display: block;
		padding-top: 10px;
		padding-right: 2px;
		max-width: 30rem;
	}
	input{
		padding: 8px;
		background: rgb(247, 228, 216);
		border: 1px  solid rgb(202, 106, 45);
		border-radius: 10px;
	}
	.cost{
		background: rgb(235, 209, 95);
		color: white;
		border: 1px solid rgb(209, 178, 40);
		font-size: 1rem;
		border-radius: 10px;
		padding: 2px;

	}
	.card-view {
        grid-template-columns: repeat(3, 1fr);
    }
	
}







