body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

main {
    display: grid;
    grid: repeat(5, 1fr)/ 1fr;
    grid-row-gap: 10px;
    padding: 1em;
    margin: auto 1rem;
    font-size: .7em;
}

main section {
    background-color: #FDEDEC;
    padding: .5em;
}

header {
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: .7em;
    background-color: rgb(235, 209, 95);
    color: rgb(202, 106, 45);
    padding: .6em;
    margin-bottom: .5rem;
    grid-column-gap: .8rem;
}

.logo {
    width: 10px;
}

h1 {
    padding-left: 5px;
}

button {
    background-color: rgb(202, 106, 45);
    color: white;
    border: none;
    font-size: 2em;
}

.extra {
    display: none;
}

.date{
	margin: 0.5rem;
	border: 1px solid  rgb(202, 106, 45);
	padding: 0.75rem;
	background-color: #FEF9E7;
    grid-column: 1/end;
}

nav {
	margin: 0 auto;
	max-width: 760px;
}
.navig {
	list-style: none;
	padding: 0;
    margin: 0;
    padding: .5rem;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    font-size: 1em;
    top: 15%;
}

.navig li {
	display: none;
}

.navig a {
	display: block;
	padding: 0.75rem 2vw;
	text-decoration: none;
	color: white;
	transition: 0.2s;
}

nav ul li.active a, .navig a:hover {
    background-color:rgb(202, 106, 45);
}

.hidden {
    display: none;
}

.toggle-btn {
    padding: 1em;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive ul {
    position: absolute;
    width: 100%;
}

.responsive a {
    background-color:  rgb(235, 209, 95);
}

.spotlight {
    display: grid;
    grid: 1fr 1fr / 1fr;
    grid-row-gap: 2px;
}
hr{
    background-color:rgb(202, 106, 45);
    margin: 10px;
}
.spotlight h2 {
    color:rgb(202, 106, 45);
    background-color: rgb(235, 209, 95);

}
#spotlight1, #spotlight2, #spotlight3{
    /*border: 2px dotted  rgb(202, 106, 45);*/
    text-align: center;
    padding: 0em;
    box-shadow: 0px 2px 5px tomato;
}
#spotlight1 img,#spotlight2 img,#spotlight3 img{
    width: 100px;
    align-items: center;
}
#spotlight3 {
    display: none;
}

.join {
    display: none;
}

.logo {
    width: 75px;
}

.icon {
    width: 40px;
}

.social a img {
    padding: .3em;
}
.hero {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.hero img {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero h2 {
    grid-column: 1/end;
    grid-row: 1/2;
    padding: 1em;
    color: rgb(202, 106, 45);
    background-color: #02012460;
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-size: 2em;
}

.hero button {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
    align-self: end;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    font-size: 1.5em;
    color:rgb(202, 106, 45);
    background-color: rgb(235, 209, 95);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: rgb(235, 209, 95);
    color: rgb(202, 106, 45);
}

.top{
    padding: 0%;
    margin: 0%;
}
.lastmod{
    padding: 0%;
    margin: 0%;
}
