
/***** MENU *******/

nav{
    width: 100%;
    position: fixed;
    top: 15px;
    text-align: center;
    background: #f4f4f2;
    
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(67, 152, 217);
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;

}
nav a{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    margin:0 20px;
    font-size: 16px;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    transition: all 0.25s cubic-bezier( 1,0,0.58,0.97,);
    color: rgb(52, 79, 150);
}

nav a:hover{
    background-color: rgb(67, 152, 217);
    padding: 10px 20px;
    transition: 0.3s;
    border-radius: 5px;
    color: white;

}

nav a:nth-child(1){
    animation: animate 0.25s 1.1s ease 1 both ; 
}
nav a:nth-child(2){
    animation: animate 0.25s 1.2s ease 1 both ; 
}
nav a:nth-child(3){
    animation: animate 0.25s 1.3s ease 1 both ; 
}
nav a:nth-child(4){
    animation: animate 0.25s 1.4s ease 1 both ; 
}
nav a:nth-child(5){
    animation: animate 0.25s 1.5s ease 1 both ; 
}
nav a:nth-child(6){
    animation: animate 0.25s 1.6s ease 1 both ; 
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.logo{
    width: 40px;
    position: absolute;
    top: 18px;
    padding-left: 25px;
}

nav ul{display:none}
nav ul.open{display: block;}
/*************** MAIN ***************/

main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 20px;
}
h1{
    color: white;
    font-family: 'Raleway', sans-serif; 
    background: rgb(67, 152, 217);
    border-radius: 10px;
    margin-top: 60px;
    text-align: center;
}
.home-main h2{
    background: white;
    color: rgb(52, 79, 150);
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.home-main h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
p{
    font-family: 'Nunito', sans-serif;
}

.infoHotel{
    background: rgb(67, 152, 217);
    color: white;
    border-radius: 10px;
}
.current-temp{
    background: rgb(72, 161, 224);
    color: white;
    border-radius: 10px;
}
h2{
    font-size: 18px;
}
.temple1, .temple3{
    display: grid;
    grid-template-columns: 1fr ;
    gap: .2em;
    align-items: center;
    text-align: center;
    background: rgb(52, 79, 150);
    padding: .8rem;
    border-radius: 5px;
    margin: 5px;
}
.temple2, .temple4{
    display: grid;
    grid-template-columns: 1fr ;
    gap: .2em;
    align-items: center;
    text-align: center;
    background: #88292F;
    padding: .8rem;
    border-radius: 5px;
    margin: 5px;
}
.infoHotel{
    grid-column: 1/3;
    grid-row: 1/2;
}
.current-temp{
    grid-column:1/3;
    grid-row: 3/4;
}

.photo{
    grid-column:1/3;
    grid-row: 2/3;
    border-radius: 5px;
}

.photo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.current-temp img {
    float: left;
    padding-top: 1em;
    width: 50px;
}


.current-temp h3{
    font-size: 8px;
    text-align: right;
    padding-right: 60px;
}
.current-temp figure{
    margin: 0;
}

/*************** FOOTER ***************/
.footer{
    width: 100%;
    margin: 0 auto;
    background: #f4f4f2;
    color:rgb(52, 79, 150);
    text-align: center;

}
.infoFooter{
    width: 25%;
    float: left;
    text-align: left;
    padding: 30px 0;
}

.infoFooter ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.infoFooter ul i a{
     text-decoration: none;
     font-size: 18px;
     margin: 0 0 20px;
     font-weight: 500;
     display: inline-block;
}

.infoFooter img{
    width: 35%;
}


.social img{
    width: 10%;
    align-items: center;

}
    /************ M A I N   T E M P L E S ************/
.temples{

    text-align: center;
}
    
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
}
.cards section {
    padding: .5em;
    margin: .5em;
    display: grid;
    border-radius: 10px;
    background-color: #eee8e2;
}
.cards img{
    display: block;
    width: 70%;
    margin: .5rem auto;
    min-height: 200px;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #88292F;
}
.cards section h3 {display: none;}
.cards section h2{
    color: rgb(52, 79, 150);
    font-family: 'Raleway', sans-serif; 
    background: white;
    border-radius: 10px;

    text-align: center;
}
.cards section p {
    align-self: end;
}
.cards section p {
    font-weight: 500;
}

.read_more_btn{
    color: red;
}

    /************ M A I N   T E M P L E S ************/
.icon{
    width: 50px;
    height: 50px;
    font-size: 25px;
}
form legend{
    font-family: 'Raleway', sans-serif; 
    color:white;
    background: rgb(134, 181, 216);
    border-radius: .2em;
    padding: .2rem;
    margin: .9em;
    border: solid rgb(52, 79, 150);
}
form label.top{
    font-family: 'Raleway', sans-serif; 
    color: rgb(52, 79, 150);
    padding: 10px;
}
fieldset label.top{
    font-family: 'Raleway', sans-serif; 
    color: rgb(52, 79, 150);
}
form input:required{
    background: #ecf3ff;
    border-radius: .2rem;
    margin: 2px;
    border: solid rgb(134, 181, 216);
}
form fieldset{
    margin: 20px;
    border: none;
    background:#ffffffd3;
    box-shadow: 0 3px 3px rgb(52, 79, 150);
}
.fechas{
    border: none;
    margin: 20px;
    box-shadow: 0px 3px 3px rgb(52, 79, 150);
    padding: 50px;
}
textarea{
    overflow: auto;
}
form textarea{
    width: 300px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.readMore-btn{
    color: white;
    background: rgb(67, 152, 217);
    font-family: 'Raleway', sans-serif; 
    padding: 7px;
    border-radius: 4px;
    border: none;
    width: 20%; 
    align-items: center;
}
.tarjeta{
    align-items: center;
}
   /************ M A I N     S E R V I C E  ************/

.main-service a{
    text-decoration: none;

}
.main-service i{
    color: white;
}
.main-service H2{
    color: rgb(134, 181, 216);
    font-family: 'Raleway', sans-serif; 
    border-radius: 10px;
    margin-top: 60px;
    text-align: center;
}
.main-service h3{
    color: white;
    font-family: 'Raleway', sans-serif; 
    background: rgb(67, 152, 217);
    border-radius: 10px;
    margin-top: 60px;
    text-align: center;
}
#conteItemsCarrusel{
    height: 400px;
    overflow: hidden;
    text-align: center;
}
.itemCarrusel{
   
    height: 100%;
    position: relative;
}
.tarjetaCarrusel{
    height: 100%;
}
.flechasCarrusel{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;

   }
#contePuntos{
    background-color: rgb(184, 184, 184, .2);
    display: flex;
    justify-content: space-around;
    margin: 5px;

}
#contePuntos > a{
    color: rgb(134, 181, 216);
    font-size: 2em;
    font-style: none;
    text-decoration: none;
}
.main-service button{
    color: white;
    background: rgb(67, 152, 217);
    font-family: 'Raleway', sans-serif; 
    padding: 7px;
    border-radius: 4px;
    border: none;
}
.main-service p{
    color: rgb(52, 79, 150);
    
}
.main-service button:hover{
    color: rgb(67, 152, 217);
    background: white;
}
