body {
    background-color: #EEE;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
main{
    background-color: white;
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
    margin: 0 2em 1em 2em;
    font-size: 1em;
}
    
footer {
    background-color:rgb(235, 209, 95);
    color: white;
    text-align: center;
}
header{
    color:rgb(202, 106, 45);
    text-align: center;

}

nav{
    background-color: rgb(235, 209, 95);
    text-align: center;
    margin-top: 0;
}

nav ul{
    list-style-type: none;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(4, 1fr);
    padding-inline-start: 0;
}

nav li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding: .75rem;
}

nav li a:hover{
    background-color: white;
    color: rgb(202, 106, 45);
}
section{
    margin-bottom: .5em;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color:black;
    padding: 1em;
    margin: auto;
    align-items: center;

}
#page{
    text-align: center;
}

img{
    width: 50%;
    display: block; 
    margin: auto;
}


#colors{
    text-align: right;
    
}

#color1{
    background-color: #CA6A2D;
    color: white;
}

#color2{
    background-color: #EBD15F;
    color: white;
}

#color3{
    background-color: #D85981;
    color: white;
}

#color4{
    background-color: #2D8DCA;
    color: white;
}

h2,h4{
    font-weight: 900;
    padding: 0;
}
h3{
    background-color: rgb(255, 136, 0);
    color: white;
    margin: 0;
    padding: 5px 4px;
}
