body {
    background-color: #EEE;
    font-family:'Mochiy Pop P One', sans-serif;;
    margin: 0;
}
main{
    background-color: #EEE;
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
    margin: 0 2em 1em 2em;
    font-size: 1em;
}
    
footer {
    background-color:#ffc46a;
    color: white;
    text-align: center;
}
header{
    color:rgb(172, 96, 65);
    text-align: center;

}

nav{
    background-color: #ffc46a;
    text-align: center;
    margin-top: 0;
}

nav ul{
    list-style-type: none;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(4, 1fr);
    padding-inline-start: 0;
}

nav li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: .9rem;
    padding: .75rem;
}

nav li a:hover{
    background-color: white;
    color: #ffc46a;
}
section{
    margin-bottom: .5em;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#parrafo{
    color:black;
    padding: 1em;

}
#page{
    text-align: center;
}

img{
    width: 75%;
    display: block; 
    margin: auto;
}

section h3{
    background-color: rgb(255, 136, 0);
    color: white;
    margin: 0;
    padding: 5px 4px;
}
